<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/allergens"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ allergen.name | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bg-softest">
  <ion-img [src]="allergen.imgSummary"></ion-img>
  <div class="allergen-detail">
    <p> {{ allergen.summary | translate }}</p>
    <p> {{ allergen.food | translate }}</p>
    <p> {{ allergen.health | translate }}</p>
  </div>
</ion-content>
