.allergen-detail {
    padding: 1em;
}

.border {
    width: 32%;
    font-size: 15px;
    text-align: center;
    // border: 1px solid black;
    &:focus {
        background-color: rgba(83, 83, 83, 0.8)
    }
}

ion-tab {
    box-sizing: border-box;
    padding: 3%;
    overflow-y: scroll;
    ion-img {
        max-height:400px;
        border: 1px solid black;
        box-shadow:0px 0px 30px rgba(0, 0, 0, 0.8);
    }
    p {
        padding-bottom: 50%;
        font-size: 18px;
    }
}
