<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-button slot="end" routerLink="/home">
        <ion-icon slot="icon-only" name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ 'ALLERGENS.' + allergen | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-tabs>



  <ion-tab tab="Summary">
    <ion-router-outlet></ion-router-outlet>
  </ion-tab>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="Summary" routerLink="Summary">
      <ion-icon name="book"></ion-icon>
      <ion-label>{{ 'HOME.SUMMARY' | translate }}</ion-label>
      <ion-badge>3</ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="Summary" routerLink="Health">
      <ion-icon name="medkit"></ion-icon>
      <ion-label>{{ 'HOME.HEALTH' | translate }}</ion-label>
      <ion-badge>3</ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="Summary" routerLink="Food">
      <ion-icon name="pizza"></ion-icon>
      <ion-label>{{ 'HOME.FOOD' | translate }}</ion-label>
      <ion-badge>3</ion-badge>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
