
ion-tab {
    box-sizing: border-box;
    padding: 3%;
    overflow-y: scroll;
    ion-img {
        box-sizing: border-box;
        border: 1px solid black;
        box-shadow:0px 0px 30px rgba(0, 0, 0, 0.8);
    }
    p {
        padding-bottom: 50%;
        font-size: 18px;
    }
}
