<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/allergens"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ allergen.name | translate }}</ion-title>
  </ion-toolbar>

</ion-header>
<div>
  <button class="border" id="dataDetaultSelected" (click)="chosed($event)" value="Summary">{{ 'HOME.SUMMARY' | translate }}</button>
  <button class="border" (click)="chosed($event)" value="Health">{{ 'HOME.HEALT' | translate }}</button>
  <button class="border" (click)="chosed($event)" value="Food">{{ 'HOME.FOOD' | translate }}</button>
</div>

<ion-content class="bg-softest">
  <ion-img src="{{allergen.imgSummary}}"></ion-img>
  <div [ngSwitch]="data">
    <div *ngSwitchCase="'Summary'">
      <p class="allergenDetails"> {{ allergen.summary | translate }}</p>
    </div>
    <div *ngSwitchCase="'Health'">
      <p class="allergenDetails"> {{ allergen.health | translate }}</p>
    </div>
    <div *ngSwitchCase="'Food'">
      <p class="allergenDetails"> {{ allergen.food | translate }}</p>
    </div>
  </div>
</ion-content>
