<ion-header>
  <ion-toolbar text-left>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{'BMI.SUBTITLE' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="bg-softest">
  <form>
    <ion-item>
      <ion-label position="floating">{{'BMI.HEIGHT' | translate}} (cm)</ion-label>
      <ion-input [(ngModel)]="height" type="number"
        [ngModelOptions]="{standalone: true}">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">{{'BMI.WEIGHT' | translate}} (kg)</ion-label>
      <ion-input [(ngModel)]="weight" type="number"
        [ngModelOptions]="{standalone: true}">
      </ion-input>
    </ion-item>
  </form>
  <ion-item class="result">
    <p [hidden]="bmiResult <= 0">{{'BMI.RESULT' | translate}}: {{ bmiResult }}</p>
  </ion-item>

  <ion-radio-group (change)="onChangeGenre($event)">
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>{{'BMI.WOMAN' | translate}}</ion-label>
          <ion-radio value="{{GenreEnum.WOMAN}}"></ion-radio>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label>{{'BMI.MAN' | translate}}</ion-label>
          <ion-radio value="{{GenreEnum.MAN}}"></ion-radio>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-radio-group>

  <div class="contenedor" [hidden]="bmiResult <= 0">
    <div class="cuadro" [style.margin-left.px]="adjustImgLeft">
    </div>
  </div>

</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button expand="full" fill="clear" (click)="onClickCalcBMI()" [disabled]="disableCalcBMI()">{{'BMI.CALC' | translate}}</ion-button>
  </ion-toolbar>
</ion-footer>
