ion-item{
    --background: var(--green-sofest);
    ion-label {
        --background: var(--green-sofest);
    }
    ion-input {
        --background: var(--green-sofest);
    }
}

ion-content {
    overflow: scroll;
    background-color: var(--green-sofest);
}

.result {
    margin: 1rem 0;
    border-style: inset;
}

.container {
    background-color: var(--green-sofest);
    width: 100%;
    height: 650px;
    border: 1px solid black
}

.contenedor {
    width: 100%;
    height: 140px; /*TODO fix this*/
    background-color: var(--brown-softest);
    .choosen-silhouette {
        z-index: 1;
        position: fixed;
        width: 20%;
        background-color: var(--green-heavy);
        height: 140px; /*TODO fix this*/
    }

    img {
        width: 288px; /*TODO fix this*/
        z-index: 2;
        position: fixed;
    }
}

.bmi-result {
    p {
        text-align: center;
        font-weight: bold;
    }
}
