ion-item{
    --background: var(--green-sofest);
    ion-label {
        --background: var(--green-sofest);
    }
    ion-input {
        --background: var(--green-sofest);
    }
}

ion-content {
    overflow: scroll;
    background-color: var(--green-sofest);
}

.result {
    margin: 1rem 0;
    border-style: inset;
}

.container {
    background-color: var(--green-sofest);
    width: 100%;
    height: 650px;
    border: 1px solid black
}

.contenedor {
    margin-top: 1.25rem;
    position: fixed;
    width: 260px;
    height: 500px;
    overflow: hidden;
    left: calc(50% - 130px);
}

.cuadro {
    background-image: url(../../assets/img/imageBmi.png);
    margin-top: -190px;
    width: 1400px;
    height: 650px;
    // margin-left: 60px;
    overflow: hidden;
}
