ion-list {
    ion-item {
        h2 {
            margin: 1rem 0 1rem .625rem;
            vertical-align: middle;
            font-family: 'Kaushan Script', cursive;
        }

        img {
            width: var(--list-item-icon-width, 3rem);
        }
    }
}
