// http://ionicframework.com/docs/theming/
@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@font-face {
  font-family: 'Kaushan Script';
  src: url('assets/fonts/kaushan-script-regular.ttf');
}

ion-content.bg-softest {
  --background: var(--ion-color-green-softest);
}

ion-content.wd-softest {
  --background: var(--ion-color-brown-softest);
}

ion-content.wd-heaviest {
  --background: var(--ion-color-brown-softy);
}

ion-content.gr-soft {
  --background: var(--ion-color-green-soft);
}
ion-content.gr-softy {
  --background: var(--ion-color-green-softy);
}
