$green-softest: #fefcd7;
$green-soft: #a6cb45;
$green-heavy: #71b238;
$green-heaviest: #6a8347;

$color-softest: $green-softest;
$color-soft: $green-soft;
$color-heavy: $green-heavy;
$color-heaviest: $green-heaviest;

$grass-softest: rgb(196, 252, 198);
$grass-heaviest: rgb(2, 114, 26);

.bg-softest,
ion-content.bg-softest {
  background: $color-softest;
}

.bg-soft {
  background: $color-soft;
}

.bg-heavy {
  background: $color-heavy;
}

.bg-heaviest {
  background: $color-heaviest;
}
.page {
  height: 100%;
  overflow-y: scroll;
}
.card-background {
  ion-card {
    position: relative;
    text-align: center;
    background: #fff;
  }

  .card-title {
    position: absolute;
    top: 20%;
    font-size: 10vw;
    width: 100%;
    font-weight: bold;
    font-family: 'Kaushan Script', cursive;
  }

  .card-subtitle {
    @extend .card-title;
    font-weight: normal;
    font-size: 7.5vw;
    top: 55%;
  }

  .allergens {
    color: $color-softest;
    text-shadow: 3px 0 $color-heaviest, 0 2px $color-heaviest, 2px 0 $color-heaviest, 0 -2px $color-heaviest;
  }
  
  .bmi {
    color: $grass-softest;
    text-shadow: 3px 0 $grass-heaviest, 0 1px $grass-heaviest, 1px 0 $grass-heaviest, 0 -2px $grass-heaviest;
  }

}
