ion-content {
  ion-card {
    position: relative;
    text-align: center;
    background: #fff;
    color: var(--green-softest, #fefcd7);
    text-shadow: 3px 0 var(--green-heaviest, #6a8347), 0 2px var(--green-heaviest, #6a8347), 2px 0 var(--green-heaviest, #6a8347), 0 -2px var(--green-heaviest, #6a8347);
  }

  .card-title {
    position: absolute;
    top: 20%;
    font-size: 10vw;
    width: 100%;
    font-weight: bold;
  }

  .card-subtitle {
    @extend .card-title;
    font-weight: normal;
    font-size: 7.5vw;
    top: 55%;
  }
}
