<div class="card-background page bg-softest">
  <ion-card routerLink="/allergens">
    <img src="../../assets/img/all-allergens.png" />
    <div class="card-title allergens">{{ 'HOME.ALLERGENS' | translate}}</div>
    <div class="card-subtitle allergens">{{ 'HOME.14_ALLERGENS' | translate }}</div>
  </ion-card>
  <ion-card routerLink="/bmi">
    <img src="../../assets/img/bmi.png" />
    <div class="card-title bmi">{{ 'BMI.TITLE' | translate}}</div>
    <div class="card-subtitle bmi">{{ 'BMI.SUBTITLE' | translate }}</div>
  </ion-card>
</div>
