<body>

  <h2>
    ¿Qué es?</h2>
  <p>El gluten es una proteína amorfa que se encuentra en la semilla de muchos cereales, como son el trigo, la
    cebada,
    el
    centeno o la espelta, entre otros, está compuesto de gliadina y glutenina mayormente</p>
  <h2>
    Síntomas
  </h2>
  <p>Desde la ingesta del gluten hasta la aparición de los síntomas suelen transcurrir entre 30 minutos y dos
    horas.
    Normalmente son síntomas cutáneos, sarpullidos, urticaria e hinchazón de labios y párpados y síntomas
    digestivos
    como dolor intenso, vómitos y menos frecuentemente shock anafilactico.</p>

</body>
