body {
    background: {
        image: url('../../../../assets/background-images/trigo.jpg');
        size: cover;
        position: center;
        attachment: fixed;
        repeat: no-repeat;
        opacity: 0.1;
    }
}
